body 
{
    background-color: #3A3A3A ;
    
}
#carte 
{
    width : 1250px;
    margin :0 auto ;
    background-color: white;
    text-align: center;
    
} 

#contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}  

#h3 {
	color : red;
}
